header {
  background-color: #264653;
}
.footer-last {
  background-color: #000;
}
.grayscale-image {
  filter: grayscale(100%);
}

@media (max-width: 575.98px) {
  .banner {
    padding-top: 60px;
  }
  .banner-text {
    padding-bottom: 50px;
  }
  .bike {
    padding: 20px 0;
  }
  .latest-news {
    padding: 15px 0;
  }
  .question-image {
    text-align: center;
    padding-bottom: 20px;
  }
  .footer-menu {
    display: block;
  }
  .footer-image {
    text-align: center;
  }
}
